.navbar {
    /* position: fixed; */
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #242225;   

}
nav form {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust spacing */
}
nav form button {
    background-color: transparent;
    border: none;
    color: #C2FFC7;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}
.baritem {
    display: inline-block;
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.button {
    border: none;
    outline: none;
    padding: 15px 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.button:hover {
    color: rgb(126, 124, 128);
    border: none;
}
